@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&display=swap");

:root {
  /*----COLORES----*/

  --blanco-mate: #f4f2ec;
  --marron-claro: #b8a18e;
  --naranja-oscuro: #f15213 ;
  --verde-musgo: #738557;
  --naranja: #f1b613;

  --gris-oscuro: #565656;
  --gris-claro: #787878;
  --gris-muy-claro: #9a9a9a;
  --gris-search-bar: #efefef;
  --gris-placeholder: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 15px;
}

/* Ya estaba */

.App {
  text-align: center;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/